.container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 30vw;
    border: 1px solid;
}

.row {
    flex-grow: 1;
    display: flex;
}

.cell {
    flex-grow: 1;
}

.hover {
    background-color: black;
    color: white;
}